pkgbase = ghostprovider
	pkgdesc = TUI for self-hosting & localhost management
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/iamnetuseroagent/ghostprovider
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = docker
	depends = git
	depends = python-pip
	source = ghostprovider::git+https://github.com/iamnetuseroagent/ghostprovider.git
	sha256sums = SKIP

pkgname = ghostprovider
